body * {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 100%;
    font-family: 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Noto Sans CJK SC', sans-serif;
    background-color: #333;
}

.hide {
    visibility: hidden;
}

#menu-btn {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url('../images/menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s ease;
    z-index: 100;
}
 
.side-show #menu-btn {
    background-image: url('../images/close.png');
    left: calc(15px + 240px);
}

.sidepanel {
    width: 240px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-240px);
    transition: transform 0.4s ease;
    overflow-y: auto;
}

.side-show .sidepanel {
    transform: translateX(0);
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    height: fit-content;
    width: 420px;
    position: relative;
    margin: 16px;
    background-color: #9a9a9a;
    border-radius: 4px;
    box-shadow: #2c2c2c 2px 2px 8px 2px;
}

#card .text-box {
    padding: 2em;
    width: 100%;
    color: #222;
    border-radius: 4px;
    box-shadow: #2c2c2c 0px 0px 6px 0px;
}

#card h1 {
    margin: 0;
}

#card p {
    margin: 0;
    font-size: 1em;
}

#card #meaning {
    font-size: 1.5em;
    border-top: 1px solid #000;
    margin-top: .4em;
    padding-top: .4em;
}


#card #kanji,
#card #hiragana {
    font-family: Arial, 'MS Gothic', 'Yu Gothic', 'MS PGothic', 'Hiragino Kaku Gothic', 'Sazanami Gothic', sans-serif;
    font-size: 2em;
}

#card #pronunciation {
    cursor: pointer;
    padding-top: .4em;
}

#card #speaker {
    margin: 0 .5em -.2em 0;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url('../images/speaker.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#card #romaji {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}

.text-box:hover #romaji,
.text-box:hover #hiragana,
.text-box:hover #part,
.text-box:hover #chinese {
    visibility: visible;
}

#card .action-box {
    display: flex;
    flex-direction: row;
    height: 56px;
}

#card .card-action {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#card .card-action:hover {
    background-color: #808080;
}

#card .card-action + .card-action {
    border-left: #505050 1px solid;
}

.card-action .icon {
    width: 1.5em;
    height: 1.5em;
    margin: 0 .5em 0 -.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-action#save-word .icon {
    background-image: url('../images/bookmark_o.png');
}

.card-action#remove-word .icon {
    background-image: url('../images/bookmark.png');
}

.card-action#next-word .icon {
    background-image: url('../images/next.png');
}


#footnote {
    color: #666;
    font-size: .8em;
    font-style: italic;
    position: absolute;
    bottom: 4px;
    right: 8px;
}

.sidepanel h2,
.sidepanel h3 {
    padding: 0 8px;
}

#user-settings {
    padding: 0;
    margin: 1em 0;
}

#user-settings li {
    list-style: none;
    font-size: 1.4em;
    padding: 8px;
}

#user-settings li.active::after {
    content: "✓";
    font-weight: bold;
    position: absolute;
    right: 12px;
}

#user-settings li:hover {
    background-color: #ddd;
}

#library-select .select-item {
    padding: 8px 4px;
}

footer {
    flex: 0;
}

footer p {
    font-size: 0.8em;
    color: #5d5d5d;
    text-align: center;
    margin: .4em 0;
}

footer .auther {
    font-size: .9em;
}

footer a {
    color: #606060;
}